
/* Global */
.root {
    -fx-font-family: Arial;
}

/* MenuBar */
.menu-bar {
    -fx-background-color: #b77f2e;
}

/* TableView */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}
.table-view .column-header-background {
    -fx-background-color: #cccccc;
}
.table-row-cell:odd {
    -fx-background-color: #fafafa;
}
.table-row-cell:even {
    -fx-background-color: white;
}
.table-row-cell:selected {
  -fx-background-color: #336699;
}

.table-row-cell:focused:selected {
  -fx-background-color: #224466;
}

.table-cell:selected,
.table-cell:selected:focused {
  -fx-text-fill: white;
}

.table-view .column-header, 
.table-view .column-header .label {
  -fx-text-fill: #333;
  -fx-font-weight: bold;
}


/* Side panels */
.vbox {
    /* default side panel styles inherited */
}

/* Buttons */
.button {
    -fx-background-color: #b77f2e;
    -fx-text-fill: white;
}

/* Login page */
.login-root {
    -fx-background-color: #b77f2e;
}
.text-field {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #777777;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 8 12;
}

.login-root .button {
    -fx-background-color: #E3E3E3;
    -fx-text-fill: black;
}


